# 교내식당 수요예측 프로젝트

## 1. 초기 작업

### 1.1 필요한 패키지 불러오기

In [223]:
import pandas as pd
import sklearn as skl
import matplotlib as plt
import numpy as np
from openpyxl import load_workbook 
import copy
pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', None)

### 1.2 필요한 정보들 목록

1. 식수 정보 (2022)
2. 식수 정보 (2023)
3. 메뉴 정보 (2022)
4. 메뉴 정보 (2023)
5. 버스 승하차 기록
6. 지하철 승하차 기록
7. 날씨 기록
8. 교내 이벤트

### 1.3 각각의 값 불러오기

#### 1.3.1 2022년 1월 값 추출하기

In [224]:
# 마 이제 함 불러와 봐라!

filename = '/Users/hanyoungwook/2023-1/capstone_design/필요한 데이터들/식수현황/식수인원현황 2022.xlsx'

## 파일 불러옴 
demend_info_2022 = load_workbook(filename,data_only = True)

#원하는 시트 불러옴
demend_info_2022_01 = demend_info_2022['2022.01']

#판다스 프레임으로 변환
demend_info_2022_01 = pd.DataFrame(demend_info_2022_01.values)

#날짜 추출
date = demend_info_2022_01.loc[4:68, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_01 = demend_info_2022_01.loc[4:68, 12:19]
# 짝수줄
temp = demend_info_2022_01.iloc[::2, :]
#홀수줄
temp2 = demend_info_2022_01.iloc[1::2]

#날짜 더 해줌
temp = pd.concat([date, temp], axis=1)

##1월만의 전처리
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.reset_index()

#temp = pd.merge(temp,temp2, )
temp2 = pd.DataFrame(temp2[[13,16,18,19]])
temp2 = temp2.reset_index()

#원하는 모양으로 합치기
temp = pd.concat([temp,temp2], axis=1)


#필요없는 값 빼버리기
temp = temp.drop(['index',14],axis=1)

# 여기서 앞에 있는 18,19를 빼야 한다.
# 어케 빼지~~ 일단 라벨링을 하면 좋을듯
temp.columns = ['날짜','조식','중식1','중식2','석식','예약','공란','공란','중식수','석식수','합계','매출']
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.drop(['공란'],axis=1)
demend_info_2022_01 = copy.deepcopy(temp)
# 이걸 이대로 불러오면 원하는 모양이 안 나온다.  
# 데이터 자르기 열 기준으로 12 ~ 19 가져오면 될듯 이게 도담 식당 데이터니까.
# 12는 조식가격 13은 중식 1 가격 /14는 중식2가격 /15는 석식가격 /16은 
# 뭐가 필요할까아아ㅏ 일단 그렇게 해보자. 또 자를 정보가 있나? 행 기준 4 ~ 68 일듯 근데 값을 그냥 치환 시켜 버려야 할듯
# 근데 찾아보니.. 월 마다 정리 방식이 꽤나 다르네요 깔깔
# 월마다 데이터를 알아서 조립해야한다니 정말 서운하네요.
# 자 이제 잘라보자 
# 자르기 성공 
# 근데 그리고 이제 값을 수정해서 따로 넣어야 하는데 어떻게 하면 좋을까. 
# 원하는 대로 슬라이싱을 해볼까.
# 날짜, 조식가격,중식1가격, 중식2가격, 석식가격

#### 일단 2022년 1월

In [225]:
demend_info_2022_01

,날짜,조식,중식1,중식2,석식,예약,중식수,석식수,합계,매출
0,2022-01-01 00:00:00,3500,5000,5000,5000,8000,None,None,0,0
1,2022-01-02 00:00:00,5000,6000,5000,5000,5000,None,None,0,0
2,2022-01-03 00:00:00,3000,5000,5000,5000,None,359,92,451,2255000
3,2022-01-04 00:00:00,3000,5000,5000,5000,4500,420,87,507,2535000
4,2022-01-05 00:00:00,3000,5000,5000,5000,9000,378,70,448,2240000
5,2022-01-06 00:00:00,3500,5000,5000,5000,5000,418,81,499,2495000
6,2022-01-07 00:00:00,3500,5000,5000,5000,5000,275,79,354,1770000
7,2022-01-08 00:00:00,3500,5000,5000,5000,None,None,None,0,0
8,2022-01-09 00:00:00,3500,6000,5000,5000,5000,None,None,0,0
9,2022-01-10 00:00:00,3500,5000,5000,5000,13000,408,83,491,2455000
10,2022-01-11 00:00:00,3500,5000,5000,5000,8000,458,110,568,2840000
11,2022-01-12 00:00:00,3500,5000,5000,5000,5000,376,94,470,2350000
12,2022-01-13 00:00:00,3500,6000,5000,5000,5000,368,82,450,2618000
13,2022-01-14 00:00:00,5000,5000,5000,5000,5000,297,70,367,1835000
14,2022-01-15 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
15,2022-01-16 00:00:00,5000,6000,5000,5000,5000,None,None,0,0
16,2022-01-17 00:00:00,3500,5000,4000,5000,7000,285,97,382,1910000
17,2022-01-18 00:00:00,3500,5000,5000,5000,4500,272,79,351,1755000
18,2022-01-19 00:00:00,3500,5000,5000,5000,4500,323,74,397,1985000
19,2022-01-20 00:00:00,3500,6000,5000,5000,4500,304,104,408,2344000
20,2022-01-21 00:00:00,3500,5000,5000,5000,5000,363,67,430,2150000
21,2022-01-22 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
22,2022-01-23 00:00:00,5000,6000,5000,5000,5000,None,None,0,0
23,2022-01-24 00:00:00,3500,5000,4000,5000,4500,329,89,418,2090000
24,2022-01-25 00:00:00,3500,5000,5000,5000,4500,322,58,380,1900000
25,2022-01-26 00:00:00,3500,5000,5000,5000,4500,350,83,433,2165000
26,2022-01-27 00:00:00,3500,6000,5000,5000,4500,284,70,354,2054000
27,2022-01-28 00:00:00,3500,5000,5000,5000,5000,283,None,283,1415000
28,2022-01-29 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
29,2022-01-30 00:00:00,3500,6000,5000,5000,5000,None,None,0,0
30,2022-01-31 00:00:00,3500,5000,4000,5000,None,None,None,0,0

#### 1.3.2 2022년 2월 값 추출하기

In [226]:
# 2월 시트 불러오기
demend_info_2022_02 = demend_info_2022['2022.02']

# 판다스 프레임으로 변환
demend_info_2022_02 = pd.DataFrame(demend_info_2022_02.values)


# 날짜 추출하기
date = demend_info_2022_02.loc[4:59, 0]
date = pd.DataFrame(date)
date = date.iloc[::2]

# 원하는 값 추출하기

#원하는 값(필요한 값 추출)
demend_info_2022_02 = demend_info_2022_02.loc[4:59, 12:19]
# 짝수줄
temp = demend_info_2022_02.iloc[::2, :]

# 날짜 더해 줌

temp = pd.concat([date, temp], axis=1)
#홀수줄
temp2 = demend_info_2022_02.iloc[1::2]

## 각각에 대해서 인덱스를 새로 추가해주고, 합치고 , 필요 없는것 들 잘라준다

temp = temp.reset_index()
temp2 = temp2.reset_index()

temp = pd.concat([temp,temp2], axis=1)
temp = temp.drop(['index',14],axis=1)
temp.columns = ['날짜','조식','중식1','중식2','석식','예약','공란','공란','공란','중식수','공란','석식수','공란','합계','매출']
temp.loc[3, '석식수'] = temp.loc[3, '석식수'] +6 #예약(공란)에 들어있던 값을 석식을 추가해줌
temp = temp.drop(['공란'],axis=1)

demend_info_2022_02 = copy.deepcopy(temp)

#### 2022년 2월의 값

In [227]:
demend_info_2022_02

,날짜,조식,중식1,중식2,석식,예약,중식수,석식수,합계,매출
0,2022-02-01 00:00:00,3500,5000,5000,5000,15000,None,None,0,0
1,2022-02-02 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
2,2022-02-03 00:00:00,3000,5000,5000,5000,None,265,82,347,1735000
3,2022-02-04 00:00:00,3000,5000,5000,5000,4500,256,81,337,1682000
4,2022-02-05 00:00:00,3000,5000,5000,5000,9000,None,None,0,0
5,2022-02-06 00:00:00,3500,6000,6000,6000,5000,None,None,0,0
6,2022-02-07 00:00:00,3500,5000,5000,5000,5000,304,84,388,1940000
7,2022-02-08 00:00:00,3500,5000,5000,5000,None,320,87,407,2035000
8,2022-02-09 00:00:00,3500,5000,5000,5000,5000,308,91,399,1995000
9,2022-02-10 00:00:00,3500,5000,5000,5000,13000,242,80,322,1610000
10,2022-02-11 00:00:00,3500,5000,5000,5000,8000,278,71,349,1745000
11,2022-02-12 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
12,2022-02-13 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
13,2022-02-14 00:00:00,5000,5000,5000,5000,5000,333,94,427,2135000
14,2022-02-15 00:00:00,5000,5000,5000,5000,5000,256,66,322,1610000
15,2022-02-16 00:00:00,5000,5000,5000,5000,5000,322,88,410,2050000
16,2022-02-17 00:00:00,3500,5000,5000,5000,7000,263,76,339,1695000
17,2022-02-18 00:00:00,3500,5000,5000,5000,4500,289,64,353,1765000
18,2022-02-19 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
19,2022-02-20 00:00:00,3500,6000,6000,6000,4500,None,None,0,0
20,2022-02-21 00:00:00,3500,5000,5000,5000,5000,307,82,389,1945000
21,2022-02-22 00:00:00,3500,5000,5000,5000,5000,257,90,347,1735000
22,2022-02-23 00:00:00,5000,5000,5000,5000,5000,275,89,364,1820000
23,2022-02-24 00:00:00,3500,5000,5000,5000,4500,285,92,377,1885000
24,2022-02-25 00:00:00,3500,5000,5000,5000,4500,200,79,279,1395000
25,2022-02-26 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
26,2022-02-27 00:00:00,3500,6000,6000,6000,4500,None,None,0,0
27,2022-02-28 00:00:00,3500,5000,5000,5000,5000,266,74,340,1700000

#### 1.3.3 2022년 3월 값 추출하기

In [228]:
#원하는 시트 불러옴
demend_info_2022_03 = demend_info_2022['2022.03']

#판다스 프레임으로 변환
demend_info_2022_03 = pd.DataFrame(demend_info_2022_03.values)

#날짜 추출
date = demend_info_2022_03.loc[4:68, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_03 = demend_info_2022_03.loc[4:68, 12:19]
# 짝수줄
temp = demend_info_2022_03.iloc[::2, :]
#홀수줄
temp2 = demend_info_2022_03.iloc[1::2]

#날짜 더 해줌
temp = pd.concat([date, temp], axis=1)

##1월만의 전처리
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.reset_index()

#temp = pd.merge(temp,temp2, )
temp2 = pd.DataFrame(temp2[[13,16,18,19]])
temp2 = temp2.reset_index()

#원하는 모양으로 합치기
temp = pd.concat([temp,temp2], axis=1)


#필요없는 값 빼버리기
temp = temp.drop(['index',14],axis=1)

# 여기서 앞에 있는 18,19를 빼야 한다.
# 어케 빼지~~ 일단 라벨링을 하면 좋을듯
temp.columns = ['날짜','조식','중식1','중식2','석식','예약','공란','공란','중식수','석식수','합계','매출']
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.drop(['공란'],axis=1)
demend_info_2022_03 = copy.deepcopy(temp)

#### 2022년 3월의 값

In [229]:
demend_info_2022_03

,날짜,조식,중식1,중식2,석식,예약,중식수,석식수,합계,매출
0,2022-03-01 00:00:00,3500,5000,5000,5000,15000,None,None,0,0
1,2022-03-02 00:00:00,5000,5000,5000,5000,5000,446,136,582,2910000
2,2022-03-03 00:00:00,3000,5000,5000,5000,None,547,144,691,3455000
3,2022-03-04 00:00:00,3000,5000,5000,5000,4500,467,161,628,3140000
4,2022-03-05 00:00:00,3000,5000,5000,5000,9000,None,None,0,0
5,2022-03-06 00:00:00,3500,6000,6000,6000,5000,None,None,0,0
6,2022-03-07 00:00:00,3500,5000,5000,5000,5000,538,163,701,3505000
7,2022-03-08 00:00:00,3500,5000,5000,5000,None,592,182,774,3870000
8,2022-03-09 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
9,2022-03-10 00:00:00,3500,5000,5000,5000,13000,614,165,779,3895000
10,2022-03-11 00:00:00,3500,5000,5000,5000,8000,463,127,590,2950000
11,2022-03-12 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
12,2022-03-13 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
13,2022-03-14 00:00:00,5000,5000,5000,5000,5000,566,190,756,3780000
14,2022-03-15 00:00:00,5000,5000,5000,5000,5000,601,189,790,3950000
15,2022-03-16 00:00:00,5000,5000,5000,5000,5000,543,151,694,3470000
16,2022-03-17 00:00:00,3500,5000,5000,5000,7000,589,171,760,3800000
17,2022-03-18 00:00:00,3500,5000,5000,5000,4500,542,90,632,3160000
18,2022-03-19 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
19,2022-03-20 00:00:00,3500,6000,6000,6000,4500,None,None,0,0
20,2022-03-21 00:00:00,3500,5000,5000,5000,5000,460,167,627,3135000
21,2022-03-22 00:00:00,3500,5000,5000,5000,5000,605,181,786,3930000
22,2022-03-23 00:00:00,5000,5000,5000,5000,5000,550,175,725,3625000
23,2022-03-24 00:00:00,3500,5000,5000,5000,4500,455,154,609,3045000
24,2022-03-25 00:00:00,3500,5000,5000,5000,4500,465,107,572,2860000
25,2022-03-26 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
26,2022-03-27 00:00:00,3500,6000,6000,6000,4500,None,None,0,0
27,2022-03-28 00:00:00,3500,5000,5000,5000,5000,510,192,702,3510000
28,2022-03-29 00:00:00,3500,5000,5000,5000,5000,550,187,737,3685000
29,2022-03-30 00:00:00,3500,5000,5000,5000,5000,468,195,663,3315000
30,2022-03-31 00:00:00,3500,5000,4000,5000,None,403,126,529,2645000

#### 1.3.4 4월 결과

In [230]:
#원하는 시트 불러옴
demend_info_2022_04 = demend_info_2022['2022.04']

#판다스 프레임으로 변환
demend_info_2022_04 = pd.DataFrame(demend_info_2022_04.values)

#날짜 추출
date = demend_info_2022_04.loc[4:68, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_04 = demend_info_2022_04.loc[4:64, 12:19]
# 짝수줄
temp = demend_info_2022_04.iloc[::2, :]
#홀수줄
temp2 = demend_info_2022_04.iloc[1::2]

#날짜 더 해줌
temp = pd.concat([date, temp], axis=1)

##1월만의 전처리
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.reset_index()

#temp = pd.merge(temp,temp2, )
temp2 = pd.DataFrame(temp2[[13,16,18,19]])
temp2 = temp2.reset_index()

#원하는 모양으로 합치기
temp = pd.concat([temp,temp2], axis=1)


#필요없는 값 빼버리기
temp = temp.drop(['index',14],axis=1)

# 여기서 앞에 있는 18,19를 빼야 한다.
# 어케 빼지~~ 일단 라벨링을 하면 좋을듯
temp.columns = ['날짜','조식','중식1','중식2','석식','예약','공란','공란','중식수','석식수','합계','매출']
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.drop(['공란'],axis=1)
temp.drop(temp.tail(1).index, inplace=True)

demend_info_2022_04 = copy.deepcopy(temp)

#### 4월 결과

In [231]:
demend_info_2022_04

,날짜,조식,중식1,중식2,석식,예약,중식수,석식수,합계,매출
0,2022-04-01 00:00:00,3500,5000,5000,5000,15000,480,108,588,2940000
1,2022-04-02 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
2,2022-04-03 00:00:00,3000,5000,5000,5000,None,None,None,0,0
3,2022-04-04 00:00:00,3000,5000,5000,5000,4500,466,214,680,3400000
4,2022-04-05 00:00:00,3000,5000,5000,5000,9000,505,201,706,3530000
5,2022-04-06 00:00:00,3500,6000,6000,6000,5000,536,191,727,4362000
6,2022-04-07 00:00:00,3500,5000,5000,5000,5000,505,197,702,3510000
7,2022-04-08 00:00:00,3500,5000,5000,5000,None,393,109,502,2510000
8,2022-04-09 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
9,2022-04-10 00:00:00,3500,5000,5000,5000,13000,None,None,0,0
10,2022-04-11 00:00:00,3500,5000,5000,5000,8000,441,226,667,3335000
11,2022-04-12 00:00:00,3500,5000,5000,5000,5000,615,191,806,4030000
12,2022-04-13 00:00:00,3500,5000,5000,5000,5000,435,187,622,3110000
13,2022-04-14 00:00:00,5000,5000,5000,5000,5000,534,218,752,3760000
14,2022-04-15 00:00:00,5000,5000,5000,5000,5000,450,163,613,3065000
15,2022-04-16 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
16,2022-04-17 00:00:00,3500,5000,5000,5000,7000,None,None,0,0
17,2022-04-18 00:00:00,3500,5000,5000,5000,4500,532,189,721,3605000
18,2022-04-19 00:00:00,3500,5000,5000,5000,4500,513,186,699,3495000
19,2022-04-20 00:00:00,3500,6000,6000,6000,4500,535,179,714,4284000
20,2022-04-21 00:00:00,3500,5000,5000,5000,5000,536,183,719,3595000
21,2022-04-22 00:00:00,3500,5000,5000,5000,5000,397,165,562,2810000
22,2022-04-23 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
23,2022-04-24 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
24,2022-04-25 00:00:00,3500,5000,5000,5000,4500,532,204,736,3680000
25,2022-04-26 00:00:00,3500,5000,5000,5000,4500,537,156,693,3465000
26,2022-04-27 00:00:00,3500,6000,6000,6000,4500,421,156,577,3462000
27,2022-04-28 00:00:00,3500,5000,5000,5000,5000,459,137,596,2980000
28,2022-04-29 00:00:00,3500,5000,5000,5000,5000,403,119,522,2610000
29,2022-04-30 00:00:00,3500,5000,5000,5000,5000,None,None,0,0

#### 2022년 5월

In [232]:
#원하는 시트 불러옴
demend_info_2022_05 = demend_info_2022['2022.05']

#판다스 프레임으로 변환
demend_info_2022_05 = pd.DataFrame(demend_info_2022_05.values)

#날짜 추출
date = demend_info_2022_05.loc[4:68, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_05 = demend_info_2022_05.loc[4:68, 12:19]
# 짝수줄
temp = demend_info_2022_05.iloc[::2, :]
#홀수줄
temp2 = demend_info_2022_05.iloc[1::2]

#날짜 더 해줌
temp = pd.concat([date, temp], axis=1)

##1월만의 전처리
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.reset_index()

#temp = pd.merge(temp,temp2, )
temp2 = pd.DataFrame(temp2[[13,16,18,19]])
temp2 = temp2.reset_index()

#원하는 모양으로 합치기
temp = pd.concat([temp,temp2], axis=1)


#필요없는 값 빼버리기
temp = temp.drop(['index',14],axis=1)

# 여기서 앞에 있는 18,19를 빼야 한다.
# 어케 빼지~~ 일단 라벨링을 하면 좋을듯
temp.columns = ['날짜','조식','중식1','중식2','석식','예약','공란','공란','중식수','석식수','합계','매출']
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.drop(['공란'],axis=1)
demend_info_2022_05 = copy.deepcopy(temp)

#### 5월 결과

In [233]:
demend_info_2022_05

,날짜,조식,중식1,중식2,석식,예약,중식수,석식수,합계,매출
0,2022-05-01 00:00:00,3500,5000,5000,5000,15000,None,None,0,0
1,2022-05-02 00:00:00,5000,5000,5000,5000,5000,457,166,623,3115000
2,2022-05-03 00:00:00,3000,5000,5000,5000,None,482,165,647,3235000
3,2022-05-04 00:00:00,3000,5000,5000,5000,4500,421,151,572,2860000
4,2022-05-05 00:00:00,3000,5000,5000,5000,9000,None,None,0,0
5,2022-05-06 00:00:00,3500,6000,6000,6000,5000,417,90,507,3042000
6,2022-05-07 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
7,2022-05-08 00:00:00,3500,5000,5000,5000,None,None,None,0,0
8,2022-05-09 00:00:00,3500,5000,5000,5000,5000,436,194,630,3150000
9,2022-05-10 00:00:00,3500,5000,5000,5000,13000,549,202,751,3755000
10,2022-05-11 00:00:00,3500,5000,5000,5000,8000,430,170,600,3000000
11,2022-05-12 00:00:00,3500,5000,5000,5000,5000,426,131,557,2785000
12,2022-05-13 00:00:00,3500,5000,5000,5000,5000,392,111,503,2515000
13,2022-05-14 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
14,2022-05-15 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
15,2022-05-16 00:00:00,5000,5000,5000,5000,5000,481,171,652,3260000
16,2022-05-17 00:00:00,3500,5000,5000,5000,7000,447,218,665,3325000
17,2022-05-18 00:00:00,3500,5000,5000,5000,4500,417,129,546,2730000
18,2022-05-19 00:00:00,3500,5000,5000,5000,4500,434,145,579,2895000
19,2022-05-20 00:00:00,3500,6000,6000,6000,4500,370,85,455,2730000
20,2022-05-21 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
21,2022-05-22 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
22,2022-05-23 00:00:00,5000,5000,5000,5000,5000,436,160,596,2980000
23,2022-05-24 00:00:00,3500,5000,5000,5000,4500,517,195,712,3560000
24,2022-05-25 00:00:00,3500,5000,5000,5000,4500,397,158,555,2775000
25,2022-05-26 00:00:00,3500,5000,5000,5000,4500,471,188,659,3295000
26,2022-05-27 00:00:00,3500,6000,6000,6000,4500,415,120,535,3210000
27,2022-05-28 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
28,2022-05-29 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
29,2022-05-30 00:00:00,3500,5000,5000,5000,5000,508,168,676,3380000
30,2022-05-31 00:00:00,3500,5000,4000,5000,None,465,167,632,3160000

#### 1.3.6 6월 만들기

In [234]:
#원하는 시트 불러옴
demend_info_2022_06 = demend_info_2022['2022.06']

#판다스 프레임으로 변환
demend_info_2022_06 = pd.DataFrame(demend_info_2022_06.values)

#날짜 추출
date = demend_info_2022_06.loc[4:68, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_06 = demend_info_2022_06.loc[4:64, 12:19]
# 짝수줄
temp = demend_info_2022_06.iloc[::2, :]
#홀수줄
temp2 = demend_info_2022_06.iloc[1::2]

#날짜 더 해줌
temp = pd.concat([date, temp], axis=1)

##1월만의 전처리
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.reset_index()

#temp = pd.merge(temp,temp2, )
temp2 = pd.DataFrame(temp2[[13,16,18,19]])
temp2 = temp2.reset_index()

#원하는 모양으로 합치기
temp = pd.concat([temp,temp2], axis=1)


#필요없는 값 빼버리기
temp = temp.drop(['index',14],axis=1)

# 여기서 앞에 있는 18,19를 빼야 한다.
# 어케 빼지~~ 일단 라벨링을 하면 좋을듯
temp.columns = ['날짜','조식','중식1','중식2','석식','예약','공란','공란','중식수','석식수','합계','매출']
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.drop(['공란'],axis=1)
temp.drop(temp.tail(1).index, inplace=True)

demend_info_2022_06 = copy.deepcopy(temp)

#### 6월 결과

In [235]:
demend_info_2022_06

,날짜,조식,중식1,중식2,석식,예약,중식수,석식수,합계,매출
0,2022-06-01 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
1,2022-06-02 00:00:00,5000,5000,5000,5000,5000,401,147,548,2740000
2,2022-06-03 00:00:00,3000,5000,5000,5000,None,396,93,489,2445000
3,2022-06-04 00:00:00,3000,5000,5000,5000,5000,None,None,0,0
4,2022-06-05 00:00:00,3000,5000,5000,5000,5000,None,None,135,675000
5,2022-06-06 00:00:00,3500,6000,6000,6000,5000,None,None,133,665000
6,2022-06-07 00:00:00,3500,5000,5000,5000,5000,532,94,626,3130000
7,2022-06-08 00:00:00,3500,5000,5000,5000,None,459,150,609,3045000
8,2022-06-09 00:00:00,3500,5000,5000,5000,5000,517,175,750,3750000
9,2022-06-10 00:00:00,3500,5000,5000,5000,13000,528,104,632,3160000
10,2022-06-11 00:00:00,3500,5000,5000,5000,8000,None,None,0,0
11,2022-06-12 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
12,2022-06-13 00:00:00,3500,5000,5000,5000,5000,512,191,703,3515000
13,2022-06-14 00:00:00,5000,5000,5000,5000,5000,496,139,635,3175000
14,2022-06-15 00:00:00,5000,5000,5000,5000,5000,250,50,300,1500000
15,2022-06-16 00:00:00,5000,5000,5000,5000,5000,308,120,428,2140000
16,2022-06-17 00:00:00,3500,5000,5000,5000,7000,273,76,349,1745000
17,2022-06-18 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
18,2022-06-19 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
19,2022-06-20 00:00:00,3500,6000,6000,6000,4500,255,106,361,2166000
20,2022-06-21 00:00:00,3500,5000,5000,5000,5000,305,72,377,1885000
21,2022-06-22 00:00:00,3500,5000,5000,5000,5000,314,74,388,1940000
22,2022-06-23 00:00:00,5000,5000,5000,5000,5000,266,114,380,1900000
23,2022-06-24 00:00:00,3500,5000,5000,5000,4500,331,78,409,2045000
24,2022-06-25 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
25,2022-06-26 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
26,2022-06-27 00:00:00,3500,6000,6000,6000,4500,282,92,374,2244000
27,2022-06-28 00:00:00,3500,5000,5000,5000,5000,319,90,409,2045000
28,2022-06-29 00:00:00,3500,5000,5000,5000,5000,328,75,403,2015000
29,2022-06-30 00:00:00,3500,5000,5000,5000,5000,254,79,333,1665000

#### 1.3.7 7월

7월은 원래 정보와 달리 중식이 웰빙이랑 구분되어있다. 그래서 이 부분을 신경써야 할 것을 보인다.


내용 확인 후 합치거나 해야할듯

In [236]:
#원하는 시트 불러옴
demend_info_2022_07 = demend_info_2022['2022.07']

#판다스 프레임으로 변환
demend_info_2022_07 = pd.DataFrame(demend_info_2022_07.values)

#날짜 추출
date = demend_info_2022_07.loc[4:68, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_07 = demend_info_2022_07.loc[4:68, 12:19]
# 짝수줄
temp = demend_info_2022_07.iloc[::2, :]
#홀수줄
temp2 = demend_info_2022_07.iloc[1::2]

#날짜 더 해줌
temp = pd.concat([date, temp], axis=1)

##1월만의 전처리
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.reset_index()

#temp = pd.merge(temp,temp2, )
temp2 = pd.DataFrame(temp2[[12,13,15,16,18,19]])
temp2 = temp2.reset_index()

#원하는 모양으로 합치기
temp = pd.concat([temp,temp2], axis=1)


#필요없는 값 빼버리기
temp = temp.drop(['index'],axis=1)

# 여기서 앞에 있는 18,19를 빼야 한다.
# 어케 빼지~~ 일단 라벨링을 하면 좋을듯
temp.columns = ['날짜','조식','중식1','중식2','웰빙','석식','예약','공란','공란','조식수','중식수','웰빙','석식수','합계','매출']
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.drop(['공란'],axis=1)
demend_info_2022_07 = copy.deepcopy(temp)

In [237]:
demend_info_2022_07

,날짜,조식,중식1,중식2,웰빙,석식,예약,조식수,중식수,웰빙,석식수,합계,매출
0,2022-07-01 00:00:00,3500,5000,4000,5000,5000,15000,None,259,None,64,323,1615000
1,2022-07-02 00:00:00,5000,5000,4000,5000,5000,5000,None,None,None,None,0,0
2,2022-07-03 00:00:00,3000,5000,4000,5000,5000,None,None,None,None,None,0,0
3,2022-07-04 00:00:00,3000,5000,4000,5000,5000,4500,None,392,None,121,513,2565000
4,2022-07-05 00:00:00,3000,5000,4000,5000,5000,9000,None,300,None,98,398,1990000
5,2022-07-06 00:00:00,3500,6000,4000,6000,6000,5000,None,330,None,97,427,2562000
6,2022-07-07 00:00:00,3500,5000,4000,5000,5000,5000,None,352,None,104,456,2280000
7,2022-07-08 00:00:00,3500,5000,4000,5000,5000,None,None,274,None,72,346,1730000
8,2022-07-09 00:00:00,3500,5000,4000,5000,5000,5000,None,None,None,None,0,0
9,2022-07-10 00:00:00,3500,5000,4000,5000,5000,13000,None,None,None,None,0,0
10,2022-07-11 00:00:00,3500,5000,4000,5000,5000,8000,None,331,None,117,448,2240000
11,2022-07-12 00:00:00,3500,5000,4000,5000,5000,5000,None,366,None,110,476,2380000
12,2022-07-13 00:00:00,3500,5000,4000,5000,5000,5000,None,247,None,104,351,1755000
13,2022-07-14 00:00:00,5000,5000,4000,5000,5000,5000,None,301,None,100,401,2005000
14,2022-07-15 00:00:00,5000,5000,4000,5000,5000,5000,None,292,None,94,386,1930000
15,2022-07-16 00:00:00,5000,5000,None,5000,5000,5000,None,None,None,None,0,0
16,2022-07-17 00:00:00,3500,5000,None,5000,5000,7000,None,None,None,None,0,0
17,2022-07-18 00:00:00,3500,5000,None,5000,5000,4500,355,None,115,None,470,1817500
18,2022-07-19 00:00:00,3500,5000,None,5000,5000,4500,278,None,107,None,385,1508000
19,2022-07-20 00:00:00,3500,6000,None,6000,6000,4500,343,None,99,None,442,1794500
20,2022-07-21 00:00:00,3500,5000,None,5000,5000,5000,296,None,109,None,405,1581000
21,2022-07-22 00:00:00,3500,5000,None,5000,5000,5000,263,None,90,None,353,1370500
22,2022-07-23 00:00:00,5000,5000,None,5000,5000,5000,None,None,None,None,0,0
23,2022-07-24 00:00:00,3500,5000,None,5000,5000,4500,None,None,None,None,0,0
24,2022-07-25 00:00:00,3500,5000,None,5000,5000,4500,None,None,None,None,0,0
25,2022-07-26 00:00:00,3500,5000,None,5000,5000,4500,None,None,None,None,0,0
26,2022-07-27 00:00:00,3500,6000,None,6000,6000,4500,None,None,None,None,0,0
27,2022-07-28 00:00:00,3500,5000,None,5000,5000,5000,None,None,None,None,0,0
28,2022-07-29 00:00:00,3500,5000,None,5000,5000,5000,None,None,None,None,0,0
29,2022-07-30 00:00:00,3500,5000,None,5000,5000,5000,None,None,None,None,0,0
30,2022-07-31 00:00:00,3500,5000,None,4000,5000,None,None,None,None,None,0,0

7월 정보는 추가로 받아야 할 것으로 보입니다.

#### 1.3.8 8월

8월 데이터는 일단 미싱입니다.

#### 1.3.9 9월 데이터

In [238]:
### 9월 부터 저장 방식이 바뀌었는지 원하는 방식으로 결론이 안나오네요 처음부터 다시 전처리 해보겠습니다.
### 추가로 9월에도 빈칸이 있다.

In [259]:
#원하는 시트 불러옴
demend_info_2022_09 = demend_info_2022['2022.09']

#판다스 프레임으로 변환
demend_info_2022_09 = pd.DataFrame(demend_info_2022_09.values)

#날짜 추출
date = demend_info_2022_09.loc[4:62, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_09 = demend_info_2022_09.loc[4:62, 12:21]

# 짝수줄 
temp = demend_info_2022_09.iloc[::2, :]
#홀수줄 여기가 식수값이다.
temp2 = demend_info_2022_09.iloc[1::2]


# 날짜 결합
temp = pd.concat([date, temp], axis=1)
temp2 = pd.DataFrame(temp2[[12,13,14,15,16,17,18,20,21]])

# 일단 결합을 위한 전처리
temp = temp.reset_index()
temp2 = temp2.reset_index()
temp
#두개 결합
temp = pd.concat([temp,temp2], axis=1)

# 필요 없는 부분 없애버리기
temp = temp.drop(['index'],axis=1)

#새로운 칼럼명 붙이기
temp.columns = ['날짜','조식','중식1','중식2','웰빙','웰빙','석식','석식','예약','공란','공란','조식수','중식수','중식수2','웰빙','웰빙2','석식수','석식수2','합계','매출']

# 공란 없애기
temp = temp.drop(['공란'],axis=1)



demend_info_2022_09 = copy.deepcopy(temp)

#### 9월 정보

In [260]:
demend_info_2022_09

,날짜,조식,중식1,중식2,웰빙,웰빙,석식,석식,예약,조식수,중식수,중식수2,웰빙,웰빙2,석식수,석식수2,합계,매출
0,2022-09-01 00:00:00,3500,5000,5000,5000,5000,5000,None,15000,None,None,None,None,None,None,None,0,0
1,2022-09-02 00:00:00,5000,5000,5000,5000,5000,5000,None,5000,None,None,None,None,None,None,None,0,0
2,2022-09-03 00:00:00,3000,5000,5000,5000,5000,5000,None,None,None,None,None,None,None,None,None,0,0
3,2022-09-04 00:00:00,3000,5000,5000,5000,5000,5000,None,4500,None,None,None,None,None,None,None,0,0
4,2022-09-05 00:00:00,3000,5000,5000,5000,5000,5000,None,9000,None,None,None,None,None,None,None,0,0
5,2022-09-06 00:00:00,3500,6000,5000,6000,5000,6000,None,5000,None,None,None,None,None,None,None,0,0
6,2022-09-07 00:00:00,3500,5000,5000,5000,5000,5000,None,5000,None,None,None,None,None,None,None,0,0
7,2022-09-08 00:00:00,3500,5000,5000,5000,5000,5000,None,None,None,None,None,None,None,95,7,102,510000
8,2022-09-09 00:00:00,3500,5000,5000,5000,5000,5000,None,5000,None,None,None,None,None,None,None,0,0
9,2022-09-10 00:00:00,3500,5000,5000,5000,5000,5000,5000,13000,None,None,None,None,None,None,None,0,0
10,2022-09-11 00:00:00,3500,5000,5000,5000,5000,5000,5000,8000,None,None,None,None,None,None,None,0,0
11,2022-09-12 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,None,None,None,None,None,None,0,0
12,2022-09-13 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,549,38,93,7,197,38,922,4610000
13,2022-09-14 00:00:00,5000,5000,5000,5000,5000,5000,5000,5000,None,571,None,80,None,187,11,849,4245000
14,2022-09-15 00:00:00,5000,5000,5000,5000,5000,5000,5000,5000,None,441,None,106,None,186,10,743,3715000
15,2022-09-16 00:00:00,5000,5000,5000,5000,5000,5000,5000,5000,None,266,23,86,,107,6,488,2440000
16,2022-09-17 00:00:00,3500,7000,7000,5000,5000,5000,5000,7000,None,190,None,None,None,None,None,190,1330000
17,2022-09-18 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,None,None,None,None,None,None,0,0
18,2022-09-19 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,498,48,99,5,215,17,882,4410000
19,2022-09-20 00:00:00,3500,5000,5000,6000,5000,6000,5000,4500,None,585,38,89,12,221,22,967,4835000
20,2022-09-21 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,503,44,105,5,200,17,874,4370000
21,2022-09-22 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,444,None,107,None,201,None,752,3760000
22,2022-09-23 00:00:00,5000,5000,5000,5000,5000,5000,5000,5000,None,295,30,61,10,136,5,537,2685000
23,2022-09-24 00:00:00,3500,7000,5000,5000,5000,5000,5000,4500,None,192,None,None,None,None,None,192,1344000
24,2022-09-25 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,None,None,None,None,None,None,0,0
25,2022-09-26 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,536,44,101,3,159,21,864,4320000
26,2022-09-27 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,383,30,82,11,148,24,678,3390000
27,2022-09-28 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,421,53,109,7,127,12,729,3645000
28,2022-09-29 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,277,39,94,14,128,11,563,2815000
29,2022-09-30 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 1.3.10 10월 정보

In [282]:
#원하는 시트 불러옴
demend_info_2022_10 = demend_info_2022['2022.10']

#판다스 프레임으로 변환
demend_info_2022_10 = pd.DataFrame(demend_info_2022_10.values)

#날짜 추출
date = demend_info_2022_10.loc[4:70, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_10 = demend_info_2022_10.loc[4:70, 12:21]
#demend_info_2022_10
#demend_info_2022_10 = demend_info_2022_10.drop(labels=[65,66,67,68])



# 짝수줄 
temp = demend_info_2022_10.iloc[::2, :]
#홀수줄 여기가 식수값이다.
temp2 = demend_info_2022_10.iloc[1::2]

# 날짜 결합
temp = pd.concat([date, temp], axis=1)
temp2 = pd.DataFrame(temp2[[12,13,14,15,16,17,18,20,21]])

# 일단 결합을 위한 전처리
temp = temp.reset_index()
temp2 = temp2.reset_index()
temp
#두개 결합
temp = pd.concat([temp,temp2], axis=1)

# 필요 없는 부분 없애버리기
temp = temp.drop(['index'],axis=1)

#새로운 칼럼명 붙이기
temp.columns = ['날짜','조식','중식1','중식2','웰빙','웰빙','석식','석식','예약','공란','공란','조식수','중식수','중식수2','웰빙','웰빙2','석식수','석식수2','합계','매출']

# 공란 없애기
temp = temp.drop(['공란'],axis=1)
temp = temp.drop([30,31,33],axis=0)

new_index = {old_name: i for i, old_name in enumerate(temp.index)}
temp = temp.rename(index=new_index)

demend_info_2022_10 = copy.deepcopy(temp)

In [283]:
demend_info_2022_10

,날짜,조식,중식1,중식2,웰빙,웰빙,석식,석식,예약,조식수,중식수,중식수2,웰빙,웰빙2,석식수,석식수2,합계,매출
0,2022-10-01 00:00:00,3500,7000,7000,5000,5000,5000,5000,15000,None,247,29,None,None,None,None,276,1932000
1,2022-10-02 00:00:00,5000,5000,5000,5000,5000,5000,5000,5000,None,None,None,None,None,None,None,0,0
2,2022-10-03 00:00:00,3000,5000,5000,5000,5000,5000,5000,None,None,None,None,None,None,None,None,0,0
3,2022-10-04 00:00:00,3000,5000,5000,5000,5000,5000,5000,4500,None,461,42,98,9,215,22,847,4235000
4,2022-10-05 00:00:00,3000,5000,5000,5000,5000,5000,5000,9000,None,455,50,93,13,202,19,832,4160000
5,2022-10-06 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,414,37,84,19,197,16,767,3835000
6,2022-10-07 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,328,34,71,15,136,7,591,2955000
7,2022-10-08 00:00:00,3500,7000,7000,5000,5000,5000,5000,None,None,181,10,None,None,None,None,191,1337000
8,2022-10-09 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,None,None,None,None,None,None,0,0
9,2022-10-10 00:00:00,3500,5000,5000,5000,5000,5000,5000,13000,None,None,None,None,None,None,None,0,0
10,2022-10-11 00:00:00,3500,5000,5000,5000,5000,5000,5000,8000,None,435,31,107,12,195,30,810,4050000
11,2022-10-12 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,451,56,91,14,197,11,820,4100000
12,2022-10-13 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,379,45,95,10,156,9,694,3470000
13,2022-10-14 00:00:00,5000,5000,5000,5000,5000,5000,5000,5000,None,308,17,62,9,116,8,520,2600000
14,2022-10-15 00:00:00,5000,7000,7000,5000,5000,5000,5000,5000,None,238,2,None,None,None,None,240,1680000
15,2022-10-16 00:00:00,5000,5000,5000,5000,5000,5000,5000,5000,None,None,None,None,,None,None,0,0
16,2022-10-17 00:00:00,3500,5000,5000,5000,5000,5000,5000,7000,None,464,40,92,11,226,21,854,4270000
17,2022-10-18 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,505,44,91,18,262,26,946,4730000
18,2022-10-19 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,470,41,85,19,200,17,832,4160000
19,2022-10-20 00:00:00,3500,5000,5000,6000,5000,6000,5000,4500,None,359,53,90,11,161,23,697,3485000
20,2022-10-21 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,297,30,66,2,94,8,497,2485000
21,2022-10-22 00:00:00,3500,7000,7000,5000,5000,5000,5000,5000,None,170,9,None,None,None,None,179,1253000
22,2022-10-23 00:00:00,5000,5000,5000,5000,5000,5000,5000,5000,None,None,None,None,None,None,None,0,0
23,2022-10-24 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,507,55,104,2,233,26,927,4635000
24,2022-10-25 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,482,49,100,8,207,32,878,4390000
25,2022-10-26 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,352,42,91,15,186,14,700,3500000
26,2022-10-27 00:00:00,3500,5000,5000,5000,5000,5000,5000,4500,None,333,30,87,17,149,15,631,3155000
27,2022-10-28 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,272,27,56,9,103,7,474,2370000
28,2022-10-29 00:00:00,3500,7000,7000,5000,5000,5000,5000,5000,None,182,7,None,None,None,None,189,1323000
29,2022-10-30 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,None,None,None,None,None,None,0,0
30,2022-10-31 00:00:00,3500,5000,5000,5000,5000,5000,5000,5000,None,449,39,94,13,188,9,792,3960000

#### 1.3.11 11월 정보 불러오기

# 2. 분석하기

## 2.1 분석 기법 종류

1. 선형회귀 (유동인구)
2. 선형회귀  (날씨)
3. 선형회귀 (시계열 분석 ,일주월)
4. 메뉴 변수 (디시전트리...?)
5. 이벤트 여부 변수 (클러스터링)
6. ARIMA
7. prophet
8. LTSM