# 교내식당 수요예측 프로젝트

## 1. 초기 작업

### 1.1 필요한 패키지 불러오기

In [128]:
import pandas as pd
import sklearn as skl
import matplotlib as plt
import numpy as np
from openpyxl import load_workbook 
import copy
pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', None)

### 1.2 필요한 정보들 목록

1. 식수 정보 (2022)
2. 식수 정보 (2023)
3. 메뉴 정보 (2022)
4. 메뉴 정보 (2023)
5. 버스 승하차 기록
6. 지하철 승하차 기록
7. 날씨 기록
8. 교내 이벤트

### 1.3 각각의 값 불러오기

#### 1.3.1 2022년 1월 값 추출하기

In [143]:
# 마 이제 함 불러와 봐라!

filename = '/Users/hanyoungwook/2023-1/capstone_design/필요한 데이터들/식수현황/식수인원현황 2022.xlsx'

## 파일 불러옴 
demend_info_2022 = load_workbook(filename,data_only = True)

#원하는 시트 불러옴
demend_info_2022_01 = demend_info_2022['2022.01']

#판다스 프레임으로 변환
demend_info_2022_01 = pd.DataFrame(demend_info_2022_01.values)

#날짜 추출
date = demend_info_2022_01.loc[4:68, 0]
date = date.iloc[::2]

#원하는 값(필요한 값 추출)
demend_info_2022_01 = demend_info_2022_01.loc[4:68, 12:19]
# 짝수줄
temp = demend_info_2022_01.iloc[::2, :]
#홀수줄
temp2 = demend_info_2022_01.iloc[1::2]

#날짜 더 해줌
temp = pd.concat([date, temp], axis=1)

##1월만의 전처리
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.reset_index()

#temp = pd.merge(temp,temp2, )
temp2 = pd.DataFrame(temp2[[13,16,18,19]])
temp2 = temp2.reset_index()

#원하는 모양으로 합치기
temp = pd.concat([temp,temp2], axis=1)


#필요없는 값 빼버리기
temp = temp.drop(['index',14],axis=1)

# 여기서 앞에 있는 18,19를 빼야 한다.
# 어케 빼지~~ 일단 라벨링을 하면 좋을듯
temp.columns = ['날짜','조식','중식1','중식2','석식','예약','공란','공란','중식수','석식수','합계','매출']
temp.drop(temp.tail(1).index, inplace=True)
temp = temp.drop(['공란'],axis=1)
demend_info_2022_01 = copy.deepcopy(temp)
# 이걸 이대로 불러오면 원하는 모양이 안 나온다.  
# 데이터 자르기 열 기준으로 12 ~ 19 가져오면 될듯 이게 도담 식당 데이터니까.
# 12는 조식가격 13은 중식 1 가격 /14는 중식2가격 /15는 석식가격 /16은 
# 뭐가 필요할까아아ㅏ 일단 그렇게 해보자. 또 자를 정보가 있나? 행 기준 4 ~ 68 일듯 근데 값을 그냥 치환 시켜 버려야 할듯
# 근데 찾아보니.. 월 마다 정리 방식이 꽤나 다르네요 깔깔
# 월마다 데이터를 알아서 조립해야한다니 정말 서운하네요.
# 자 이제 잘라보자 
# 자르기 성공 
# 근데 그리고 이제 값을 수정해서 따로 넣어야 하는데 어떻게 하면 좋을까. 
# 원하는 대로 슬라이싱을 해볼까.
# 날짜, 조식가격,중식1가격, 중식2가격, 석식가격

#### 일단 2022년 1월

In [144]:
demend_info_2022_01

,날짜,조식,중식1,중식2,석식,예약,중식수,석식수,합계,매출
0,2022-01-01 00:00:00,3500,5000,5000,5000,8000,None,None,0,0
1,2022-01-02 00:00:00,5000,6000,5000,5000,5000,None,None,0,0
2,2022-01-03 00:00:00,3000,5000,5000,5000,None,359,92,451,2255000
3,2022-01-04 00:00:00,3000,5000,5000,5000,4500,420,87,507,2535000
4,2022-01-05 00:00:00,3000,5000,5000,5000,9000,378,70,448,2240000
5,2022-01-06 00:00:00,3500,5000,5000,5000,5000,418,81,499,2495000
6,2022-01-07 00:00:00,3500,5000,5000,5000,5000,275,79,354,1770000
7,2022-01-08 00:00:00,3500,5000,5000,5000,None,None,None,0,0
8,2022-01-09 00:00:00,3500,6000,5000,5000,5000,None,None,0,0
9,2022-01-10 00:00:00,3500,5000,5000,5000,13000,408,83,491,2455000
10,2022-01-11 00:00:00,3500,5000,5000,5000,8000,458,110,568,2840000
11,2022-01-12 00:00:00,3500,5000,5000,5000,5000,376,94,470,2350000
12,2022-01-13 00:00:00,3500,6000,5000,5000,5000,368,82,450,2618000
13,2022-01-14 00:00:00,5000,5000,5000,5000,5000,297,70,367,1835000
14,2022-01-15 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
15,2022-01-16 00:00:00,5000,6000,5000,5000,5000,None,None,0,0
16,2022-01-17 00:00:00,3500,5000,4000,5000,7000,285,97,382,1910000
17,2022-01-18 00:00:00,3500,5000,5000,5000,4500,272,79,351,1755000
18,2022-01-19 00:00:00,3500,5000,5000,5000,4500,323,74,397,1985000
19,2022-01-20 00:00:00,3500,6000,5000,5000,4500,304,104,408,2344000
20,2022-01-21 00:00:00,3500,5000,5000,5000,5000,363,67,430,2150000
21,2022-01-22 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
22,2022-01-23 00:00:00,5000,6000,5000,5000,5000,None,None,0,0
23,2022-01-24 00:00:00,3500,5000,4000,5000,4500,329,89,418,2090000
24,2022-01-25 00:00:00,3500,5000,5000,5000,4500,322,58,380,1900000
25,2022-01-26 00:00:00,3500,5000,5000,5000,4500,350,83,433,2165000
26,2022-01-27 00:00:00,3500,6000,5000,5000,4500,284,70,354,2054000
27,2022-01-28 00:00:00,3500,5000,5000,5000,5000,283,None,283,1415000
28,2022-01-29 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
29,2022-01-30 00:00:00,3500,6000,5000,5000,5000,None,None,0,0
30,2022-01-31 00:00:00,3500,5000,4000,5000,None,None,None,0,0

#### 1.3.2 2022년 2월 값 추출하기

In [151]:
# 2월 시트 불러오기
demend_info_2022_02 = demend_info_2022['2022.02']

# 판다스 프레임으로 변환
demend_info_2022_02 = pd.DataFrame(demend_info_2022_02.values)


# 날짜 추출하기
date = demend_info_2022_02.loc[4:59, 0]
date = pd.DataFrame(date)
date = date.iloc[::2]

# 원하는 값 추출하기

#원하는 값(필요한 값 추출)
demend_info_2022_02 = demend_info_2022_02.loc[4:59, 12:19]
# 짝수줄
temp = demend_info_2022_02.iloc[::2, :]

# 날짜 더해 줌

temp = pd.concat([date, temp], axis=1)
#홀수줄
temp2 = demend_info_2022_02.iloc[1::2]

## 각각에 대해서 인덱스를 새로 추가해주고, 합치고 , 필요 없는것 들 잘라준다

temp = temp.reset_index()
temp2 = temp2.reset_index()

temp = pd.concat([temp,temp2], axis=1)
temp = temp.drop(['index',14],axis=1)
temp.columns = ['날짜','조식','중식1','중식2','석식','예약','공란','공란','공란','중식수','공란','석식수','공란','합계','매출']
temp.loc[3, '석식수'] = temp.loc[3, '석식수'] +6 #예약(공란)에 들어있던 값을 석식을 추가해줌
temp = temp.drop(['공란'],axis=1)

demend_info_2022_02 = copy.deepcopy(temp)

#### 2022년 2월의 값

In [152]:
demend_info_2022_02

,날짜,조식,중식1,중식2,석식,예약,중식수,석식수,합계,매출
0,2022-02-01 00:00:00,3500,5000,5000,5000,15000,None,None,0,0
1,2022-02-02 00:00:00,5000,5000,5000,5000,5000,None,None,0,0
2,2022-02-03 00:00:00,3000,5000,5000,5000,None,265,82,347,1735000
3,2022-02-04 00:00:00,3000,5000,5000,5000,4500,256,81,337,1682000
4,2022-02-05 00:00:00,3000,5000,5000,5000,9000,None,None,0,0
5,2022-02-06 00:00:00,3500,6000,6000,6000,5000,None,None,0,0
6,2022-02-07 00:00:00,3500,5000,5000,5000,5000,304,84,388,1940000
7,2022-02-08 00:00:00,3500,5000,5000,5000,None,320,87,407,2035000
8,2022-02-09 00:00:00,3500,5000,5000,5000,5000,308,91,399,1995000
9,2022-02-10 00:00:00,3500,5000,5000,5000,13000,242,80,322,1610000
10,2022-02-11 00:00:00,3500,5000,5000,5000,8000,278,71,349,1745000
11,2022-02-12 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
12,2022-02-13 00:00:00,3500,5000,5000,5000,5000,None,None,0,0
13,2022-02-14 00:00:00,5000,5000,5000,5000,5000,333,94,427,2135000
14,2022-02-15 00:00:00,5000,5000,5000,5000,5000,256,66,322,1610000
15,2022-02-16 00:00:00,5000,5000,5000,5000,5000,322,88,410,2050000
16,2022-02-17 00:00:00,3500,5000,5000,5000,7000,263,76,339,1695000
17,2022-02-18 00:00:00,3500,5000,5000,5000,4500,289,64,353,1765000
18,2022-02-19 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
19,2022-02-20 00:00:00,3500,6000,6000,6000,4500,None,None,0,0
20,2022-02-21 00:00:00,3500,5000,5000,5000,5000,307,82,389,1945000
21,2022-02-22 00:00:00,3500,5000,5000,5000,5000,257,90,347,1735000
22,2022-02-23 00:00:00,5000,5000,5000,5000,5000,275,89,364,1820000
23,2022-02-24 00:00:00,3500,5000,5000,5000,4500,285,92,377,1885000
24,2022-02-25 00:00:00,3500,5000,5000,5000,4500,200,79,279,1395000
25,2022-02-26 00:00:00,3500,5000,5000,5000,4500,None,None,0,0
26,2022-02-27 00:00:00,3500,6000,6000,6000,4500,None,None,0,0
27,2022-02-28 00:00:00,3500,5000,5000,5000,5000,266,74,340,1700000

# 2. 분석하기

## 2.1 분석 기법 종류

1. 선형회귀 (유동인구)
2. 선형회귀  (날씨)
3. 선형회귀 (시계열 분석 ,일주월)
4. 메뉴 변수 (디시전트리...?)
5. 이벤트 여부 변수 (클러스터링)
6. ARIMA
7. prophet
8. LTSM